In [8]:
! pip install gmaps

Requirement already satisfied: gmaps in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (0.9.0)
Requirement already satisfied: geojson>=2.0.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from gmaps) (2.5.0)
Requirement already satisfied: ipython>=5.3.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.12.0)
Requirement already satisfied: traitlets>=4.3.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from gmaps) (4.3.3)
Requirement already satisfied: ipywidgets>=7.0.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from gmaps) (7.5.1)
Requirement already satisfied: six in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from gmaps) (1.14.0)
Requirement already satisfied: pygments in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (2.5.2)
Requirement already satisfied: decorator in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.4.1)
Requirement already satisfied: pickleshare in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.7.5)
Requirement already satisfied: pexpect; sys_platform != "win32" in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (4.8.0)
Requirement already satisfied: backcall in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: jedi>=0.10 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.14.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (3.0.3)
Requirement already satisfied: appnope; sys_platform == "darwin" in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (0.1.0)
Requirement already satisfied: setuptools>=18.5 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipython>=5.3.0->gmaps) (46.0.0.post20200309)
Requirement already satisfied: ipython-genutils in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from traitlets>=4.3.0->gmaps) (0.2.0)
Requirement already satisfied: widgetsnbextension~=3.5.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (3.5.1)
Requirement already satisfied: ipykernel>=4.5.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.1.4)
Requirement already satisfied: nbformat>=4.2.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipywidgets>=7.0.0->gmaps) (5.0.4)
Requirement already satisfied: ptyprocess>=0.5 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from pexpect; sys_platform != "win32"->ipython>=5.3.0->gmaps) (0.6.0)
Requirement already satisfied: parso>=0.5.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jedi>=0.10->ipython>=5.3.0->gmaps) (0.5.2)
Requirement already satisfied: wcwidth in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->gmaps) (0.1.8)
Requirement already satisfied: notebook>=4.4.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jupyter-client in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (5.3.4)
Requirement already satisfied: tornado>=4.2 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (6.0.3)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (3.2.0)
Requirement already satisfied: jupyter-core in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (4.6.1)
Requirement already satisfied: Send2Trash in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: jinja2 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (2.11.1)
Requirement already satisfied: terminado>=0.8.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.3)
Requirement already satisfied: pyzmq>=17 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (18.1.1)
Requirement already satisfied: prometheus-client in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.7.1)
Requirement already satisfied: nbconvert in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (5.6.1)
Requirement already satisfied: python-dateutil>=2.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jupyter-client->ipykernel>=4.5.1->ipywidgets>=7.0.0->gmaps) (2.8.1)
Requirement already satisfied: attrs>=17.4.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (19.3.0)
Requirement already satisfied: pyrsistent>=0.14.0 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (0.15.7)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (1.5.0)
Requirement already satisfied: MarkupSafe>=0.23 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.1.1)
Requirement already satisfied: testpath in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.4.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (1.4.2)
Requirement already satisfied: mistune<2,>=0.8.1 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.8.4)
Requirement already satisfied: bleach in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (3.1.0)
Requirement already satisfied: defusedxml in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.6.0)
Requirement already satisfied: entrypoints>=0.2.2 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.3)
Requirement already satisfied: zipp>=0.5 in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->jsonschema!=2.5.0,>=2.4->nbformat>=4.2.0->ipywidgets>=7.0.0->gmaps) (2.2.0)
Requirement already satisfied: webencodings in /Users/jiaqisong/opt/anaconda3/lib/python3.7/site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->gmaps) (0.5.1)

In [41]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key

In [42]:
file_to_load1 = "starbucksInLACounty.csv"
file_to_load2 = "Income.csv"

# Read Purchasing File and store into Pandas data frame
starbucks_data = pd.read_csv(file_to_load1)
starbucks_data.head(10)

,id,strLocation,latitude,longitude,city,state,zip
0,27689-248404,Carson & Wilmington,33.831519,-118.239858,Carson,CA,90745
1,5774-5505,Atlantic & San Antonio,33.837239,-118.184724,Long Beach,CA,90807
2,74620-93749,Vons-Long Beach #3519,33.841027,-118.182765,Long Beach,CA,90807
3,5928-20999,"Avalon & Dominguez, Carson",33.841631,-118.262325,Carson,CA,90746
4,76468-95631,Target Carson T-2026,33.843971,-118.263345,Carson,CA,90746
5,21740-195884,Alameda & 91,33.876843,-118.217943,Compton,CA,90220
6,76769-107980,Target Long Beach/Sgnal Hill T-2319,33.816645,-118.181948,Long Beach,CA,90755
7,9788-97840,"Del Amo & Avalon, Carson",33.847785,-118.264379,Carson,CA,90746
8,76829-107981,Target Compton T-2275,33.879794,-118.219460,Compton,CA,90220
9,23315-218444,Spring & California,33.811997,-118.181110,Signal Hill,CA,90755

In [43]:
new_s_df = starbucks_data.iloc[:,[2,3,4]]
new_s_df

      latitude   longitude        city
0    33.831519 -118.239858      Carson
1    33.837239 -118.184724  Long Beach
2    33.841027 -118.182765  Long Beach
3    33.841631 -118.262325      Carson
4    33.843971 -118.263345      Carson
..         ...         ...         ...
723  33.777119 -118.114751  Long Beach
724  33.775185 -118.137605  Long Beach
725  33.774349 -118.119580  Long Beach
726  33.760978 -118.116026  Long Beach
727  33.759730 -118.114645  Long Beach

[728 rows x 3 columns]

In [44]:
gmaps.configure(api_key = g_key)

In [45]:
locations = new_s_df[["latitude","longitude"]]

fig = gmaps.figure()
starbucks_layer = gmaps.symbol_layer(locations, 
                                   fill_color = '#87CEFF', stroke_color = '#87CEFF')
fig.add_layer(starbucks_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
income_data = pd.read_csv(file_to_load2)
income_data.head(10)

,Census Tract,Neighborhood,Latitude,Longitude,Population,Median Age,Household Income,Per Capita Income,Poverty Count,Poverty Rate,Unemployment Rate
0,101110,Tujunga,34.259555,-118.293602,4314,40.6,53077,26996,679,15.739453,3.847937
1,101122,Tujunga,34.267357,-118.290240,3239,52.3,88953,46974,109,3.365236,2.902130
2,101210,Tujunga,34.251998,-118.292687,6052,36.6,32119,19902,1994,32.947786,5.304032
3,101220,Tujunga,34.251190,-118.281014,3497,39.7,41728,21844,524,14.984272,3.774664
4,101300,Tujunga,34.245595,-118.271731,4297,49.7,86914,35120,391,9.099372,2.909006
5,101400,Tujunga,34.244255,-118.296428,3851,44.4,71125,34799,321,8.335497,3.895092
6,102103,Shadow Hills,34.224155,-118.354339,1771,45.8,76333,37500,156,8.808583,4.686618
7,102104,Shadow Hills,34.216189,-118.345624,3554,41.1,70754,34131,423,11.902082,5.261677
8,102105,Sun Valley,34.210852,-118.348050,1857,40.7,52132,24355,322,17.339795,5.331179
9,102107,Shadow Hills,34.241295,-118.329271,4333,44.8,106037,36130,332,7.662128,3.161782

In [47]:
new_i_df = income_data.iloc[:,[2,3,4,6]]
new_i_df

       Latitude   Longitude  Population  Household Income
0     34.259555 -118.293602        4314             53077
1     34.267357 -118.290240        3239             88953
2     34.251998 -118.292687        6052             32119
3     34.251190 -118.281014        3497             41728
4     34.245595 -118.271731        4297             86914
...         ...         ...         ...               ...
2318  34.162467 -118.413865        5697             90795
2319  33.899103 -117.993649        3847             93398
2320  33.811974 -118.078652        1979            126250
2321  33.765980 -118.170779        4369             65192
2322  33.388813 -118.423553         407        -666666666

[2323 rows x 4 columns]

In [48]:
lower_percentile = new_i_df[(new_i_df['Household Income']<new_i_df['Household Income'].quantile(0.25))]

In [49]:
lower_percentile

       Latitude   Longitude  Population  Household Income
2     34.251998 -118.292687        6052             32119
3     34.251190 -118.281014        3497             41728
30    34.268476 -118.415216        4325             32036
31    34.255116 -118.399872        2311             39181
45    34.310577 -118.436550        3272             37452
...         ...         ...         ...               ...
2310  34.207747 -118.490984          90        -666666666
2311  34.136859 -118.301232           5        -666666666
2312  34.081932 -118.238222         189        -666666666
2316  34.272762 -118.295261          37        -666666666
2322  33.388813 -118.423553         407        -666666666

[581 rows x 4 columns]

In [50]:
locations = lower_percentile[["Latitude","Longitude"]]

fig = gmaps.figure()
city_layer = gmaps.symbol_layer(locations, 
                                   fill_color = '#FF4500', stroke_color = '#FF4500')
fig.add_layer(city_layer)
fig.add_layer(starbucks_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [51]:
high_income = new_i_df[(new_i_df['Household Income']>new_i_df['Household Income'].quantile(0.75))]

In [52]:
high_income

       Latitude   Longitude  Population  Household Income
1     34.267357 -118.290240        3239             88953
4     34.245595 -118.271731        4297             86914
9     34.241295 -118.329271        4333            106037
10    34.274431 -118.307140        2597             89211
13    34.255439 -118.352777        3549             93207
...         ...         ...         ...               ...
2314  34.089172 -118.551873         151            226500
2315  34.173325 -118.493015         264            124038
2318  34.162467 -118.413865        5697             90795
2319  33.899103 -117.993649        3847             93398
2320  33.811974 -118.078652        1979            126250

[581 rows x 4 columns]

In [53]:
locations = high_income[["Latitude","Longitude"]]

fig = gmaps.figure()
city_high_layer = gmaps.symbol_layer(locations, 
                                   fill_color = '#C0FF3E', stroke_color = '#C0FF3E')
fig.add_layer(city_high_layer)
fig.add_layer(starbucks_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
mid_income = new_i_df[(new_i_df['Household Income']>new_i_df['Household Income'].quantile(0.25))&(new_i_df['Household Income']<new_i_df['Household Income'].quantile(0.75))]

In [55]:
mid_income

       Latitude   Longitude  Population  Household Income
0     34.259555 -118.293602        4314             53077
5     34.244255 -118.296428        3851             71125
6     34.224155 -118.354339        1771             76333
7     34.216189 -118.345624        3554             70754
8     34.210852 -118.348050        1857             52132
...         ...         ...         ...               ...
2308  34.340966 -118.294994         419             56979
2309  34.294753 -117.913563         795             75313
2313  33.778611 -118.295234         556             54167
2317  33.737510 -118.261425        1113             64500
2321  33.765980 -118.170779        4369             65192

[1161 rows x 4 columns]

In [56]:
locations = mid_income[["Latitude","Longitude"]]

fig = gmaps.figure()
city_mid_layer = gmaps.symbol_layer(locations, 
                                   fill_color = '#FFFF00', stroke_color = '#FFFF00')
fig.add_layer(city_mid_layer)
fig.add_layer(starbucks_layer)
fig.savefig("crime.png")
fig

Figure(layout=FigureLayout(height='420px'))